# Customer Segmentation Using Unsupervised Learning (K-Means, Agglomerative, DBSCAN)

This notebook is my Final Project for the **Unsupervised Algorithms in Machine Learning** course.

The main goal of this project is to use **unsupervised learning** to segment mall customers into meaningful groups based on their behavior and characteristics. I will:

- collect and describe the dataset (Mall Customers),
- explore and visualize the data (EDA),
- apply several unsupervised algorithms (K-Means, Agglomerative Clustering, DBSCAN),
- compare and interpret the resulting clusters,
- and add a small **supervised baseline section** for rubric compatibility.

In [1]:
# Basic imports: classic data science stack
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# I like to see all columns and a bit wider tables
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)

# For reproducibility
RANDOM_STATE = 42

# Some style for plots (nothing fancy, just cleaner visuals)
sns.set(style="whitegrid", context="notebook")

In [3]:
# If the CSV is in the same folder as this notebook, this path is enough
data_path = "Mall_Customers.csv"

# If you keep it inside a /data folder, uncomment this instead:
# data_path = "data/Mall_Customers.csv"

# Load the dataset
df = pd.read_csv(data_path)

# Quick shape check: how many rows and columns do we have?
print("Shape of the dataset:", df.shape)

# Let's take a quick peek at the first few rows
df.head()

Shape of the dataset: (200, 5)

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40